##############################
## mysqld_safe section
##############################
[mysqld_safe]
timezone = Asia/Seoul
malloc_lib = /usr/lib64/libjemalloc.so.1
 
##############################
## mysqld section
##############################
[mysqld]
port = 3306
socket = /var/lib/mysql/mysql.sock
local_infile = 0
sql_mode = TRADITIONAL
lower_case_table_names=1
open_files_limit = 65536
log_bin_trust_function_creators = 1
default_storage_engine = InnoDB
transaction_isolation = READ-COMMITTED
max_connections = 100
skip_external_locking
skip_name_resolve
skip-host-cache
sysdate_is_now
 
## Directory
datadir = /var/lib/mysql
log_bin = mysql-binary
relay_log = mysql-relay
 
## Character Set
character_set_server = utf8mb4
collation_server = utf8mb4_bin
 
## Performance_schema
performance_schema = ON
  
## Query Cache
query_cache_size = 0
query_cache_type = 0
 
## MyISAM storage engine
key_buffer_size = 17M
 
## InnoDB storage engine
innodb_file_per_table = 1
innodb_commit_concurrency = 0
innodb_thread_concurrency = 0
innodb_concurrency_tickets = 200
innodb_thread_sleep_delay = 0
innodb_purge_threads = 1
innodb_buffer_pool_size = 256M
innodb_buffer_pool_instances = 4
innodb_io_capacity = 600
innodb_flush_log_at_trx_commit = 0
innodb_adaptive_hash_index = OFF
innodb_flush_method = ALL_O_DIRECT
innodb_flush_neighbors = 0
innodb_use_native_aio = ON 
innodb_log_file_size = 32M
innodb_log_files_in_group = 2
 
## Logging
general-log = 0
general-log-file = /var/lib/mysql/general.log
slow_query_log = 1
slow_query_log_file = /var/lib/mysql/mysql-slow.log
long_query_time = 0.5
log_slow_verbosity = Query_plan
 
## Replication
server_id = 1
sync_binlog = 0
max_binlog_size = 100M
expire_logs_days = 3
binlog_format = ROW
log_slave_updates

##############################
## client section
##############################
[client]
port = 3306
socket = /var/lib/mysql/mysql.sock
 
##############################
## mysqldump section
##############################
[mysqldump]
max_allowed_packet = 256M
quick
 
##############################
## mysql section
##############################
[mysql]
default_character_set = utf8mb4
no_auto_rehash
